html, body, main{
  height: 100%;
  background-color: white;
  min-width: 320px;
}



header{
position: relative;
flex-wrap: row wrap;
height: 45%;
flex-grow: 1;
flex-shrink: 0;
background-color: #1E99AB;
opacity: 1;
}

h1{
  padding-top: 0.2em;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 9em;
  font-family: monospace;
  color: black white;
  font-weight: bolder;
  text-align: center;
  flex-flow: row wrap;
}

.container{
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 0;

}

.badges{
    padding: 40px;
    border: 10px solid black;
    border-style: inset;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    max-height: 600px;
    overflow-x: scroll;
    overflow-y: auto;
}

 .col{
  -webkit-transition: all 1s ease;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
  padding: 20px;
  min-width: 200px;
}
.col:hover{
  -webkit-transform: scale(1.1);
  cursor: pointer;
}

a{
  margin-top: 4px;
  text-decoration: none;
  color: white;
}
a:hover{
  color:#A5D0D7;
}

footer{
  position: relative;
  border: 3px solid black;
  height: 5em;
  flex-wrap: row wrap;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #1E99AB;

}


@media only screen and (max-width: 320px){
  flex-wrap: nowrap;
}
